html {
    width: 100vw;
    margin: 0em;
}

body {
    background-color: #F6EADA;
}

section {
    display: block;
}

pink {
    color: #DB438F
}

a {
    font-size: 1em;
    padding-bottom: 1em;
}

i {
    font-size: 1.3em;
    margin-right: .5em;
}

strong {
    font-weight: 900;
}

p {
    margin: .2em auto
}

#header {
    width: 100vw;
    background-color: #F6EADA;
    color: #000000;
    margin: -0.5em 0em;
    font-family: 'Instrument Serif', serif;
}

#full_body {
    width: 50vw;
    height: auto;
    max-height: 100vh;
    max-width: 66.7vh;
    display: inline-block;
    margin: 0em;
    margin-bottom: 1em;
}

#title {
    font-size: min(4vh,4vw);
    letter-spacing: 0.05em;
    text-align: left;
    font-family: 'Instrument Serif', serif;
    padding: 0.2em 0.4em 0.4em 0.4em;
    background-color: #F6EADA;
    border-style: solid;
    border-color: black;
    border-width: 0.07em;
    display: inline-block;
    max-width: 33vw;
    max-height: 50vh;
    position: absolute;
    left: 40vw;
    z-index: 2;
    box-shadow: rgb(85, 91, 255) 0rem 0rem 0rem .1rem, rgb(31, 193, 27) 0rem 0rem 0rem .2rem, rgb(255, 217, 19) 0rem 0rem 0rem 0.3rem, rgb(255, 156, 85) 0rem 0rem 0rem 0.4rem, rgb(255, 85, 85) 0rem 0rem 0rem 0.5rem;
}

@media screen only and (min-width: 2000px) {
    #title {
        font-size: min(5vh,5vw);
        box-shadow: rgb(85, 91, 255) 0rem 0rem 0rem .2rem, rgb(31, 193, 27) 0rem 0rem 0rem .4rem, rgb(255, 217, 19) 0rem 0rem 0rem 0.6rem, rgb(255, 156, 85) 0rem 0rem 0rem 0.8rem, rgb(255, 85, 85) 0rem 0rem 0rem 1rem;
    }
}

#about {
    font-size: 0.99em;
    text-align: right;
    letter-spacing: 0.01em;
    display: inline-block;
    z-index: 1;
    padding: 0.5em 1em 1em 1em;
}

@media screen only and (min-width: 2000px) {
    #about {
        font-size: 3vw;
        text-align: left;
        position: absolute;
        top: min(25vh,25vw);
        padding: 1em;
    }
}

#contact {
    background-color: #F6EADA;
    font-family: 'Instrument Serif', serif;
    font-size: 2vw;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 1em;
    display: table;
    width: 99vw;
    table-layout: fixed;
}

.contact_link {
    display: table-cell;
    text-align: left;
}

.box-shadow {
    box-shadow: rgb(85, 91, 255) 0em 0em 0em .2em, rgb(31, 193, 27) 0em 0em 0em .4em, rgb(255, 217, 19) 0em 0em 0em 0.6em, rgb(255, 156, 85) 0em 0em 0em 0.8em, rgb(255, 85, 85) 0em 0em 0em 1em;
    border-radius: 3em;
    padding: 2em;
}

@media only screen and (min-width: 2000px) {
    .box-shadow {
        box-shadow: rgb(85, 91, 255) 0em 0em 0em .2em, rgb(31, 193, 27) 0em 0em 0em .4em, rgb(255, 217, 19) 0em 0em 0em 0.6em, rgb(255, 156, 85) 0em 0em 0em 0.8em, rgb(255, 85, 85) 0em 0em 0em 1em;
        border-radius: 3em;
        padding: 2em;
    }
}

.red {
    background-color:rgb(255, 85, 85);
}

.orange {
    background-color:rgb(255, 156, 85);
}

.yellow {
    background-color:rgb(255, 217, 19);
}

.green {
    background-color:rgb(31, 193, 27);
}

.blue {
    background-color:rgb(85, 91, 255);
}

#education, #research, #work, #leadership, #honors, #technical, #courses, #professional {
    background-color: #F6EADA;;
    color: #000000;
    font-family: 'Instrument Serif', serif;
    letter-spacing: 0.01em;
    text-align: center;
}

p {
    font-size: 1.3em;
}

.column {
    width: 100%;
    width: fit-content;
    margin: auto;
    //padding-bottom: 2em;
}

@media only screen and (min-width: 2000px) {
    .column {
        float: left;
        width: 50%;
    }
}

#NC_State, #Clemson, #finger_tracking, #data_compression, #cadence, 
#delta, #uta, #hkn, #cecas, #rhodes, #faculty, #honor_society, #sab,
#eboa, #presidents_list, #professional {
    min-width: fit-content;
    margin: 6vw;
    margin-top: 0.5em;
}

/* Clear floats after the columns */
@media only screen and (min-width: 2000px) {
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}

.one_column {
    margin: auto;
    width: fit-content;
    padding-bottom: 2em;
    margin-top: 0em;
}

#professional {
}

ul {
    text-align: left;
    font-size: 1.1em;
}
.prog_container {
    margin: auto;
    border-style: solid;
    border-width: 0.13em;
    width: 45vw;
    height: 1.8em;
    text-align: right;
    border-radius: 0.75em;
    margin-bottom: 1em;
}

.prog_val {
    width: 0%;
    height: 1.8em;
    text-align: left;
    border-radius: 0.6em;
}

@media only screen and (min-width: 2000px) {
    .prog_container {
        margin: auto;
        border-style: solid;
        border-width: 0.13em;
        width: 45vw;
        height: 1.8em;
        text-align: right;
        font-size: 1.3em;
        border-radius: 0.75em;
        margin-bottom: 1em;
    }

    .prog_val {
        width: 0%;
        height: 1.8em;
        text-align: left;
        float: left;
        border-radius: 0.6em;
    }
}

.percentage {
    float: right;
    padding-top: 0.25em;
    padding-right: 0.25em;
}

.skill {
    float: left;
    padding-top: 0.25em;
    padding-left: 0.25em;
}

h2 {
    font-size: 3.5em;
    font-weight: bolder;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.8em;
    margin-top: 0em;
}

h4 {
    font-size: 1.4em;
}
