html {

}

body {
    background-color: #F6EADA;
    margin: 0em;
}

main {
   // margin-bottom: 1em;
}

section {
    display: block;
}

pink {
    color: #DB438F
}

i {
    font-size: 1.3em;
    margin-right: .5em;
}

strong {
    font-weight: 900;
}

p {
    margin: .2em auto;
    font-size: 1.3em;
}

#header {
    background-color: #F6EADA;
    margin: -0.5em 0em;
    font-family: 'Instrument Serif', serif;
}

/*mobile view*/
.name-row {
    text-align: left;
}

/*mobile view*/
#name {
    width: fit-content;
    margin: auto;
    box-shadow: rgb(85, 91, 255) 0em 0em 0em .2em, rgb(31, 193, 27) 0em 0em 0em .4em, rgb(255, 217, 19) 0em 0em 0em 0.6em, rgb(255, 156, 85) 0em 0em 0em 0.8em, rgb(255, 85, 85) 0em 0em 0em 1em;
    padding: 0.5em;
    margin-bottom: 2em;
    margin-top: 1em;
}

@media only screen and (min-width: 1080px) {

    #name {
        box-shadow: rgb(85, 91, 255) 0em 0em 0em .2em, rgb(31, 193, 27) 0em 0em 0em .4em, rgb(255, 217, 19) 0em 0em 0em 0.6em, rgb(255, 156, 85) 0em 0em 0em 0.8em, rgb(255, 85, 85) 0em 0em 0em 1em;
        border-radius: 0em;
        padding: 0.5em;
        margin-left: 1em;
        margin-top: 0.5em;
        float: left;
        font-size: 4vmin;
    }

    .name-row {
        width: 100%;
        //height: 30vh;
        height: calc(8vmin + 18vh);
    }
}

/* mobile view */
#about {
    font-size: min(5vw,5vh);
    text-align: center;
    letter-spacing: 0.01em;
    display: block;
    padding: 1em;
}

@media only screen and (min-width: 1080px) {
    #about {
        font-size: 3vw;
        text-align: left;
        letter-spacing: 0.01em;
        display: inline-block;
        position: absolute;
        top: min(25vh,25vw);
        z-index: 1;
        padding: 1em;
    }
}

#contact {
    background-color: #F6EADA;
    font-family: 'Instrument Serif', serif;
    letter-spacing: 0.05em;
    padding: 1em;
    text-align: center;
}

.contact_link {
    text-align: center;
    border-style: solid;
    margin: 1em 20vw;
    padding: 1em;
    border-radius: 1em;
}

a {
    color: black;
    display: inline-block;
}

.contact-label {
    font-size: 4vw;
}

.icon {
    font-size: 4vw;
    padding-bottom: 0.5em;
    text-decoration: none;
}

.link {
    font-size: 3vw;
}

@media only screen and (min-width: 1080px) {
    #contact {
        background-color: #F6EADA;
        font-family: 'Instrument Serif', serif;
        letter-spacing: 0.05em;
        padding: 1em;
        text-align: center;
        margin-top: 2em;
    }
    
    .contact_link {
        text-align: center;
        border-style: solid;
        margin: 1em 3vw;
        padding: 1em;
        border-radius: 1em;
        display: inline-block;
        width: 20vw;
    }
    .contact-label {
        font-size: 2vw;
    }
    
    .icon {
        font-size: 3vw;
        padding-bottom: 0.5em;
        text-decoration: none;
    }
    
    .link {
        font-size: 1.6vw;
    }
}

/* mobile view */
.box-shadow {
    box-shadow: rgb(85, 91, 255) 0em 0em 0em .2em, rgb(31, 193, 27) 0em 0em 0em .4em, rgb(255, 217, 19) 0em 0em 0em 0.6em, rgb(255, 156, 85) 0em 0em 0em 0.8em, rgb(255, 85, 85) 0em 0em 0em 1em;
    border-radius: 3em;
    padding: 2em;
    margin-bottom: 4em;
}

@media only screen and (min-width: 1080px) {
    .box-shadow {
        box-shadow: rgb(85, 91, 255) 0em 0em 0em .2em, rgb(31, 193, 27) 0em 0em 0em .4em, rgb(255, 217, 19) 0em 0em 0em 0.6em, rgb(255, 156, 85) 0em 0em 0em 0.8em, rgb(255, 85, 85) 0em 0em 0em 1em;
        border-radius: 3em;
        padding: 2em;
    }
}

.red {
    background-color:rgb(255, 85, 85);
}

.orange {
    background-color:rgb(255, 156, 85);
}

.yellow {
    background-color:rgb(255, 217, 19);
}

.green {
    background-color:rgb(31, 193, 27);
}

.blue {
    background-color:rgb(85, 91, 255);
}

#education, #research, #work, #leadership, #honors, #technical, #courses, #professional {
    background-color: #F6EADA;;
    color: #000000;
    font-family: 'Instrument Serif', serif;
    letter-spacing: 0.01em;
    text-align: center;
}

/* mobile view */
.column {
    width: fit-content;
    margin: auto;
}

@media only screen and (min-width: 1080px) {
    .column {
        float: left;
        width: 50%;
    }
}

/* mobile view */
#NC_State, #Clemson, #finger_tracking, #data_compression, #cadence, 
#delta, #uta, #hkn, #cecas, #rhodes, #faculty, #honor_society, #sab,
#eboa, #presidents_list, #professional {
    min-width: fit-content;
    margin: 3em;
}

@media only screen and (min-width: 1080px) {
    #NC_State, #Clemson, #finger_tracking, #data_compression, #cadence, 
    #delta, #uta, #hkn, #cecas, #rhodes, #faculty, #honor_society, #sab,
    #eboa, #presidents_list, #professional {
        min-width: fit-content;
        margin: 6vw;
        margin-top: 0.5em;
    }
} 

.pic-column {
    width: 100vw;
}

.text-column {
    max-width: 100vw;
    font-size: 2em;
    text-align: center;
    padding: 1.5em;
    margin: 0em;
}

/* Clear floats after the columns */
@media only screen and (min-width: 1080px) {
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .head-row {
        display: flex;
    }

    .pic-column {
        --pic-width: min(66.7vh,100vw);
        max-width: var(--pic-width);
        }

    .pic-container {
        margin-bottom: 0em;
    }

    .text-column {
        --pic-width: min(66.7vh,100vw);
        max-width: calc(100vw - var(--pic-width));
        flex: 1;
        margin: 4vmax;
        text-align: left;
        padding: 0em;
    }

    #text-about {
        //font-size: 5vh;
        font-size: 1.35em;
    }
    @media only screen and (max-height: 700px) {
        #text-about {
            font-size: 1.15em;
        }

        @media only screen and (max-height: 500px) {
            #text-about {
                font-size: 1em;
            }
            
            @media only screen and (max-height: 300px) {
                #text-about {
                    font-size: 0.7em;
                }
            }
        }
    }

    @media only screen and (max-width: 1367px) {
        #text-about {
            //font-size: 4vh;
            font-size: 1.2em;
        }
        @media only screen and (max-height: 600px) {
            #text-about {
                font-size: 1em;
            }

            @media only screen and (max-height: 400px) {
                #text-about {
                    font-size: 0.7em;
                }

                @media only screen and (max-height: 200px) {
                    #text-about {
                        font-size: 0.5em;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1163px) {
        #text-about {
            font-size: 1.1em;
        }

        @media only screen and (max-height: 700px) {
            #text-about {
                font-size: 1em;
            }
        
            @media only screen and (max-height: 500px) {
                #text-about {
                    font-size: 1em;
                }

                @media only screen and (max-height: 400px) {
                    #text-about {
                        font-size: 0.9em;
                    }

                    @media only screen and (max-height: 300px) {
                        #text-about {
                            font-size: 0.5em;
                        }
                    }
                }
            }
        }
    }
}

/* mobile view */
.one_column {
    margin: auto;
    width: fit-content;
    margin-top: 0em;
}

@media only screen and (min-width: 1080px) {
    .one_column {
        margin: auto;
        width: fit-content;
        margin-top: 0em;
        padding-bottom: 2em;
    }
}

#professional {
    margin-bottom: 10em;
}

ul {
    text-align: left;
    font-size: 1.1em;
}

/* mobile view */
.prog_container {
    margin: auto;
    border-style: solid;
    border-width: 0.13em;
    width: 45vw;
    height: 1.8em;
    text-align: right;
    border-radius: 0.75em;
    margin-bottom: 1em;
}

/* mobile view */
.prog_val {
    width: 0%;
    height: 1.8em;
    text-align: left;
    border-radius: 0.6em;
}

@media only screen and (min-width: 1080px) {
    .prog_container {
        margin: auto;
        border-style: solid;
        border-width: 0.13em;
        width: 45vw;
        height: 1.8em;
        text-align: right;
        font-size: 1.3em;
        border-radius: 0.75em;
        margin-bottom: 1em;
    }

    .prog_val {
        width: 0%;
        height: 1.8em;
        text-align: left;
        float: left;
        border-radius: 0.6em;
    }
}

.percentage {
    float: right;
    padding-top: 0.25em;
    padding-right: 0.25em;
}

.skill {
    float: left;
    padding-top: 0.25em;
    padding-left: 0.25em;
}

h2 {
    font-size: 3.5em;
    font-weight: bolder;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.8em;
    margin-top: 0em;
}

h4 {
    font-size: 1.4em;
}
